@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 200;
  src: url('tajawal/eot/Tajawal-ExtraLight.eot');
  src: url('tajawal/otf/Tajawal-ExtraLight.otf');
  src: url('./tajawal/ttf/Tajawal-ExtraLight.ttf');
  src: url('tajawal/woff/Tajawal-ExtraLight.woff');
  src: url('tajawal/woff2/Tajawal-ExtraLight.woff2');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url('tajawal/eot/Tajawal-Regular.eot');
  src: url('/tajawal/otf/Tajawal-Regular.otf');
  src: url('tajawal/ttf/Tajawal-Regular.ttf');
  src: url('tajawal/woff/Tajawal-Regular.woff');
  src: url('tajawal/woff2/Tajawal-Regular.woff2');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  src: url('tajawal/eot/Tajawal-Medium.eot');
  src: url('tajawal/otf/Tajawal-Medium.otf');
  src: url('tajawal/ttf/Tajawal-Medium.ttf');
  src: url('tajawal/woff/Tajawal-Medium.woff');
  src: url('tajawal/woff2/Tajawal-Medium.woff2');
}
