.about-me-container {
  height: 100%;
  max-width: 100%;
  //background: #46C2FF;
  background: #1c1f23;
  color: #46C2FF;
  font-size: calc((100vw - 4rem) / 34);
  .about-me-row {
    height: calc(100% / 3);
    display: flex;
    .facts {
      display: flex;
      width: 100%;
    }
    h1 {
      display: flex;
      margin: 0;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .about-me-info {
      width: calc(100% / 3);
      .about-me-info-value,
      .about-me-info-title {
        height: 50%;
        width: 100%;
        min-width: 100px;
      }
      .about-me-info-value div,
      .about-me-info-title div {
        height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-me-container {
    padding: 0;
    margin: 0;
    .about-me-row {
      height: 100%;
      max-height: 100%;
      width: 100%;
      background: #1c1f23;
      color: #46C2FF;
    }
  }
}
