<div class="container-fluid about-me-container">
  <div class="row about-me-row">
      <h1 class="col-md-12 fact-title">Fakten über mich</h1>
  </div>
  <div class="row about-me-row">
    <!--<app-info-card></app-info-card>-->
    <div class="about-me-info">
      <div class="about-me-info-value" [countUp]="age">
      </div>
      <div class="about-me-info-title">Jahre alt
      </div>
    </div>
    <div class="about-me-info">
      <div class="about-me-info-value" [countUp]="visitedCountries">
      </div>
      <div class="about-me-info-title">Länder besucht
      </div>
    </div>
    <div class="about-me-info">
      <div class="about-me-info-value" [countUp]="daysInOtherCountries">
      </div>
      <div class="about-me-info-title">Auslandstage
      </div>
    </div>
  </div>
  <div class="row about-me-row">
    <div class="about-me-info">
      <div class="about-me-info-value" [countUp]="yearsAsASoftwareEngineer">
      </div>
      <div class="about-me-info-title">Jahre als Software Entwickler tätig
      </div>
    </div>
    <div class="about-me-info">
      <div class="about-me-info-value" [countUp]="lineCodesInThisProject">
      </div>
      <div class="about-me-info-title">Über Zeilen Code in diesem Projekt
      </div>
    </div>
    <div class="about-me-info">
      <div class="about-me-info-value" [countUp]="motivation">
      </div>
      <div class="about-me-info-title">motiviert
      </div>
    </div>
  </div>
</div>
