$fullscreen-padding: calc((100vh - 350px)/2);
$distance-to_nav: 50px;
.ki-lian-component {
  padding-top: $fullscreen-padding;
  padding-bottom: $fullscreen-padding;
  background: #1c1f23;
  .ki-lian-component-line{
    display: flex;
    justify-content: center;
    align-items: center;
    .main-circle {
      height: 350px;
      width: 350px;
      max-width: 600px;
      vertical-align: middle;
      background-image: url("../../images/ki-lian-tiny.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50% 50%;
    }
  }
}

@mixin heightBox($distance-to_nav, $elements){
  height: calc(calc(100vh - #{$distance-to_nav}) / $elements);
}

.about-me-container {
  padding-top: $distance-to-nav;
  background: #1c1f23;
  //background: $background;
  color: #46C2FF;
  font-size: calc((100vw - 4rem) / 34);
  .about-me-row {
    @include heightBox($distance-to_nav, 3);
    .fact-title {
      display: flex;
      margin: 0;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .about-me-info {
      width: calc(100% / 3);
      .about-me-info-value,
      .about-me-info-title {
        height: 50%;
        width: 100%;
        min-width: 100px;
        text-align: center;
      }
    }
  }
}
/*
@media screen and (max-width: 768px) {
  .about-me-container {
    padding: 0;
    margin: 0;
    .about-me-row {
      min-height: 100%;
      background: #1c1f23;
      color: #46C2FF;
      .facts {
        height: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
    .about-me-info {
      min-height: 100%;
      .about-me-info-title {
        height: 50%;
        min-height: 50%;
        width: 100%;
      }
      .about-me-info-value {
        height: 50%;
        min-height: 50%;
        width: 100%;
      }
    }
  }
}
*/
