$fullscreen-padding: calc((100vh - 350px)/2);
$distance-to_nav: 50px;
.ki-lian-component {
  padding-top: $fullscreen-padding;
  padding-bottom: $fullscreen-padding;
  background: #1c1f23;
  .ki-lian-component-line {
    display: flex;
    justify-content: center;
    align-items: center;
    .main-circle {
      height: 350px;
      width: 350px;
      max-width: 600px;
      vertical-align: middle;
      background-image: url("../../images/ki-lian-tiny.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50% 50%;
      :hover {
        color: red;
      }
    }
  }
}

@mixin heightBox($distance-to_nav, $elements) {
  height: calc(calc(100vh - #{$distance-to_nav}) / $elements);
}

.about-me-container {
  padding-top: $distance-to-nav;
  background: #1c1f23;
  //background: $background;
  color: #46C2FF;
  font-size: calc((100vw - 4rem) / 34);
  .about-me-row {
    @include heightBox($distance-to_nav, 3);
    .fact-title {
      display: flex;
      margin: 0;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .about-me-info {
      width: calc(100% / 3);
      .about-me-info-value,
      .about-me-info-title {
        display: flex;
        height: 50%;
        width: 100%;
        min-width: 100px;
        text-align: center;
        justify-content: center;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .about-me-container {
    font-size: 4rem;
    .about-me-row {
      height: 100%;
      .fact-title {
        height: 100vh;
      }
      .about-me-info {
        height: 100%;
        width: 100%;
        .about-me-info-value,
        .about-me-info-title {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50vh;
        }
        .about-me-info-value {
          background: #46C2FF;
          color: #1c1f23;
        }
      }
    }
  }
}
